.estadisticas {
    div {
        div {
            h2 {
                button{
                    background-color: $rojo-f1;
                    color: white;
                    font-weight: bold;
                }
                
            }
        }
    }
    
}