
.footer {
    text-align: center;
    background-color: $negro-fondo;
    color: azure;
    .li-redes {
        display: inline-block;
        margin: 10px;
        margin-top: 25px;
        .img-redes {
            width: 30px;
        }
    }
    p {
       padding: 1rem; 
       margin-bottom: 0;
    }
}



