.gradiente-radial {
    width: 100%;
    background-image: radial-gradient(#d7d2cc, $negro-fondo 70%);
    padding-block-start: 3rem;
    padding-block-end: 3rem;
    .carrusel-img{
        border-radius: 20px;
        box-shadow: 10px 10px 5px 0px $rojo-f1-opa;

    }
    .carousel-item {
        div {
            a {
                text-decoration: none;
                color: white;
                font-size: 18pt;
                font-weight: bold;

            }
        }

        .carousel-caption {
            position: absolute;
            right: 13%;
            bottom: 1.25rem;
            left: 14%;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            color: #FFE;
            text-align: center;
        }
    }
    .titulo{
        text-align: center;
        margin-top: 2rem;
        color: black;
        font-size: 20pt;
        font-weight: bold;
    }
}

.main-cards {
    margin-block-start: 3rem;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px $rojo-f1-opa;
}