$rojo-f1:#ee0000;
$escarlata-f1:#AE1400;
$negro-fondo:rgb(21, 22, 31);
$blanco-opa15:rgba(255, 255, 255, 0.15);
$blanco-opa40:rgba(255, 255, 255, 0.40);
$negro-opa15:rgba(0, 0, 0, 0.15);
$negro-opa40:rgba(0, 0, 0, 0.40);