// Mixin para headers
@mixin tamanio-logo($ancho) {
    width: $ancho;
}

@mixin navBar-header($fontSize, $margin) {
    font-size: $fontSize;
    margin: $margin;
}

@mixin banderas-calendario($ancho1, $ancho2) {
    width: $ancho1;

    &:hover {
        width: $ancho1;
    }
}